@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Poke Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>helloowo df hia hg</h2>
<button class="btn btn-default" data-request-url="@Url.Action("GetMoves", "Moves")">Get Result :)</button>
<script>

</script>